@theme inline {
  --shadow-flat: 0px 0px 0px 1px var(--color-border);
  --shadow-low: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
  --shadow-medium: 0px 4px 12px -2px rgba(0, 0, 0, 0.05);
  --shadow-high: 0px 12px 24px -4px rgba(0, 0, 0, 0.08);
  --shadow-overlay: 0px 20px 48px -8px rgba(0, 0, 0, 0.12);
}
